.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    &-child {
        flex: 0 1 33%;
        max-width: 200px;
        height: 400px;
        overflow: auto;
        border: 1px solid black;
    }
}

.subbed {
    color: green;
}

.unsubbed {
    color: red;
}