<!-- sidebar and main content on two columns
desktop: see all
tablet: make sidebar small, show on click
phone: one column
-->

<div class="main">
    <div class="sidebar">
        <ul class="sidebar-nav">
            <h2 class="title-long">Main menu</h2>
            <h2 class="title-short">☰</h2>
            <li>
                <span>☯</span>
                Item 1
            </li>
            <li>
                <span>☯</span>
                Item 2
            </li>
            <li>
                <span>☯</span>
                Item 3
            </li>
        </ul>
    </div>
    
    <div class="content">
        <div class="col">
            <h1>Lorem ipsum 1</h1>
            <p>Ut ac eleifend mauris. Curabitur sed orci non felis malesuada ornare. Sed eu aliquam justo. Donec eget metus eu sapien vestibulum vulputate. Etiam orci diam, hendrerit vel auctor non, maximus a est. Nullam consectetur volutpat tortor id porta. Mauris imperdiet eros eget sapien ullamcorper euismod. Sed id arcu aliquet, gravida mi eget, aliquam sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin condimentum ligula in lectus scelerisque, in efficitur nisi rutrum.
                Maecenas blandit sodales dui quis hendrerit. Sed facilisis blandit ornare. Mauris sit amet tellus rutrum, tempor velit nec, posuere dolor. In tempor dui mi, in interdum elit eleifend at. Etiam ultricies ligula sit amet lacus fermentum congue. Phasellus eu rhoncus risus, at euismod felis. Nunc mi lorem, vestibulum id elementum nec, ornare id leo. Vivamus finibus magna sed lacus sodales viverra ut sed nibh. Praesent scelerisque turpis quis convallis euismod. Fusce lacinia ut lacus in dignissim. Fusce quis auctor arcu. Suspendisse euismod elit ante.
                Phasellus eu nunc ut nisl porttitor volutpat. Nullam tincidunt at arcu non varius. Nullam vitae commodo nunc, ac dignissim tellus. Sed fermentum imperdiet nulla, sed pharetra nisl ornare ut. Nulla consectetur massa congue odio gravida porttitor. Donec convallis, massa non mattis ultricies, neque lacus tincidunt nisl, in pretium neque metus sit amet orci. Suspendisse auctor eros id dolor egestas porta. In ut diam ut urna facilisis accumsan. Nunc mattis rutrum purus tincidunt cursus.
                Sed ornare mauris et risus facilisis, at venenatis leo faucibus. Nunc luctus diam ac velit eleifend, dignissim condimentum justo faucibus. Mauris iaculis dui a dolor cursus ullamcorper. Fusce id euismod odio. Vivamus elementum erat vel ultricies vehicula. Sed vel lorem ullamcorper, scelerisque leo eleifend, consectetur tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam sed ex mi. Quisque interdum velit interdum dignissim blandit.
            </p>
        </div>
        <div class="col">
            <h1>Lorem ipsum 2</h1>
            <p>Ut ac eleifend mauris. Curabitur sed orci non felis malesuada ornare. Sed eu aliquam justo. Donec eget metus eu sapien vestibulum vulputate. Etiam orci diam, hendrerit vel auctor non, maximus a est. Nullam consectetur volutpat tortor id porta. Mauris imperdiet eros eget sapien ullamcorper euismod. Sed id arcu aliquet, gravida mi eget, aliquam sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin condimentum ligula in lectus scelerisque, in efficitur nisi rutrum.
                Maecenas blandit sodales dui quis hendrerit. Sed facilisis blandit ornare. Mauris sit amet tellus rutrum, tempor velit nec, posuere dolor. In tempor dui mi, in interdum elit eleifend at. Etiam ultricies ligula sit amet lacus fermentum congue. Phasellus eu rhoncus risus, at euismod felis. Nunc mi lorem, vestibulum id elementum nec, ornare id leo. Vivamus finibus magna sed lacus sodales viverra ut sed nibh. Praesent scelerisque turpis quis convallis euismod. Fusce lacinia ut lacus in dignissim. Fusce quis auctor arcu. Suspendisse euismod elit ante.
                Phasellus eu nunc ut nisl porttitor volutpat. Nullam tincidunt at arcu non varius. Nullam vitae commodo nunc, ac dignissim tellus. Sed fermentum imperdiet nulla, sed pharetra nisl ornare ut. Nulla consectetur massa congue odio gravida porttitor. Donec convallis, massa non mattis ultricies, neque lacus tincidunt nisl, in pretium neque metus sit amet orci. Suspendisse auctor eros id dolor egestas porta. In ut diam ut urna facilisis accumsan. Nunc mattis rutrum purus tincidunt cursus.
                Sed ornare mauris et risus facilisis, at venenatis leo faucibus. Nunc luctus diam ac velit eleifend, dignissim condimentum justo faucibus. Mauris iaculis dui a dolor cursus ullamcorper. Fusce id euismod odio. Vivamus elementum erat vel ultricies vehicula. Sed vel lorem ullamcorper, scelerisque leo eleifend, consectetur tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam sed ex mi. Quisque interdum velit interdum dignissim blandit.
            </p>
        </div>
    </div>
</div>
